@import "../../styles/variables";
@import "../../styles/braekpoints";

.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url('../../images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 70%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;

    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url('../../images/bg-intro-desktop.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 150%;
        background-size: 122%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('../../images/image-mockups.png');
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 52%;
      }

      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-size: 94%;
        background-position: center 150%;
        left: 22%;
      }
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
  }
}

.feature {
  background-color: $lightGrayishBlue;
  text-align: center;

  @include breakpoint-up(medium) {
    text-align: left;
  }

  &__grid {

    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.articles {
  background-color: $veryLightGray;
}

.article {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    border-radius: 0.3125rem;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__text {
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;
    color: $grayishBlue;

    @include breakpoint-up(medium) {
      padding: 1.875rem 1.5625rem;
    }
  }

  &__author {
    font-size: 0.625rem;
    margin-bottom: 0.75rem;
  }

  &__title {
    font-size: 1.0625rem;
    line-height: 1.2;
    color: $darkBlue;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 0.8125rem;
  }
}